{% extends 'layout/base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block css %}
    
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Graph</h1>
                <div class="row">
                    
                    {% for graph in graphs %}
                    <div class="col-md-4">
                        <div class="card">
                            <a href="">
                                <img src="{{graph.logo.url}}" alt="" class="card-img" height="200">
                            </a>
                            <div class="card-body">
                                <h3 class="text-center">
                                    <a href="">
                                        {{graph.name}}
                                    </a>
                                </h3>
                                <p class="text-small">
                                    {{graph.description|truncatewords:15}}
                                </p>
                                <a href="{% url 'view_graph' graph.id %}" class="btn btn-info btn-sm">View</a>
                            </div>
                        </div>
                    </div>
                 
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    
{% endblock %}