{% extends 'layout/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{% url 'home'  %}">Gallery</a>
        <a class="breadcrumb-item" href="{% url 'view_graph' cat.graph.id %}">{{cat.graph.name}}</a>
        <span class="breadcrumb-item active" aria-current="page">{{cat}}</span>
      </nav>
      <div class="row">
        
        {% for snippet in snippets %}
        <div class="col-md-4 my-3">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-6">
                <img src="{{snippet.thumbnail.url}}" class="img-fluid rounded-start" alt="Code">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="card-text">{{snippet.category}}</p>
                  
                  <a href="{% url 'view_snippet' snippet.id %}" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>








{% endblock %}
{% block js %}

{% endblock %}
